.hex-tile.plains {
  fill: #41980a;
}

.hex-tile.forest {
  fill: darkgreen;
}

.hex-tile.mountain {
  fill: gray;
}

.hex-tile.water {
  fill: blue;
}

.hex-tile.desert {
  fill: darkgoldenrod;
}

.hex-tile.hills {
  fill: brown;
}

.hex-tile.swamp {
  fill: darkslategray;
}

.hex-tile.rocks {
  fill: darkgray;
}

.hex-tile.player {
  position: relative;
}

.hex-tile.player img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}

.hex-grid-rotated {
  --transform: rotate(40deg);
}

.hex-rotated {
  transform: rotate(30deg);
}

.hex-rotated .hex-text {
  transform: rotate(-30deg);
}

.scrollable-container {
  width: 800px; /* Adjust the width as needed */
  height: 600px; /* Adjust the height as needed */
  overflow: auto;
}

.hex-tile.player {
  position: relative;
}

.hex-tile.player img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}

.mana-dice {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}